<!DOCTYPE HTML>
<html>
	<head>
		<title>NYC Data Science Academy</title>
  	<%= javascript_include_tag "https://js.stripe.com/v2/", "application" %>
		<meta name="description" content="">
		<meta name="author" content="" >
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
		<link href="css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">
		<link href="css/font-awesome.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet" media="screen">
		
		<!--[if IE 7]>
			<link href="css/font-awesome-ie7.min.css" rel="stylesheet">
		<![endif]-->
	
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="js/modernizr.js"></script>
	
	</head>

	<body>
		<div id="wrapper">
			<div id="sidebar">
				<a class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<!-- <div id="logo"> <a href="/"><img src="img/logo.svg" alt="logo" /></a> </div> -->
				<nav id="nav" class="navigation" role="navigation">
					<ul class="unstyled">
						<li class="active" data-section="1"><i class="icon-home"></i> <span>Home</span></li>
						<li data-section="2" class=""><i class="icon-laptop"></i> <span>About</span></li>
						<li data-section="3" class=""><i class="icon-user"></i> <span>The Team</span></li>
						<li data-section="4" class=""><i class="icon-pencil"></i> <span>Classes</span></li>
						<li data-section="5" class=""><i class="icon-money"></i> <span>Tuition</span></li>
						<li data-section="6" class="last"><i class="icon-envelope"></i> <span>Sign Up</span></li>
					</ul>
				</nav><!-- /nav -->
			</div><!-- /sidebar -->
			
			<div id="container">					
				<section class="section" id="section1" data-section="1">
					<div class="container-fluid">	
						<div class="row-fluid">
							
							<div class="alt-image img-circle thumb">
								<img src="img/thumb.jpg" alt="Your Name" class="img-circle">
							</div>
								<%if session[:applicant] != nil %>
								<h3 id="grats"> Congratulations! You have successfully enrolled!<br>You will be receiving a receipt shortly. If this email does not arrive, please notify us.</h3>
								<% end %>
								

							<div class="span6 intro" id="greeting">
								<hgroup>
									<br>
									<h1>NYC Data Science Academy</h1>
									<h3>Data is power.</h3>
								</hgroup>
								<button class="btn-inverse" data-section="2">
									Who Are <span>We?</span>
									<i class="icon-circle-arrow-down"></i>
								</button>
							</div><!-- /span6 -->
							
						</div><!-- /row-fluid -->
					</div><!-- /container-fluid -->	
				</section><!-- /section -->
								
				<section class="section" id="section2" data-section="2">
					<div class="container-fluid">
						<div class="row-fluid title">
							<div class="span3">
								<h2>About</h2>
							</div><!-- /span3 -->
							<div class="span9 hidden-phone">	
								<hr>
							</div><!-- /span9 -->
						</div><!-- /row-fluid -->
						
						<div class="row-fluid desc">
							<div class="span8">
								<p>NYC Data Science Academy is a program designed to teach those who wish to learn.</p>
								<p>Through hands-on projects and real-world applications, our students develop the skills they will need to pursue data science as both a hobby and profession. We also organize the <a id="meetup" href="http://www.meetup.com/NYC-Open-Data/" target="_blank">NYC Open Data Meetup</a>, which means that by enrolling at the Academy you will be joining a vast network of support and active collaboration.</p>
								<p>Whether you have an insatiable passion for data or just a tickle of curiosity, we encourage you to follow your interest and enroll. The world needs more people like you. </p>
							</div><!-- /span8 -->


						</div><!-- /row-fluid -->
						
								
				</section><!-- /section -->	

				
				<section class="section" id="section3" data-section="3">
					<div class="container-fluid">
						<div class="row-fluid title">
							<div class="span4">
								<h2>The Team</h2>
							</div><!-- /span4 -->
							<div class="span8 hidden-phone alt">	
								<hr>
							</div><!-- /span8 -->
						</div>
						<div class="row-fluid desc">
							<div class="span8">
								<p id="viv-bio">Hey, I'm Vivian and I currently run a statistical consulting firm. I am also the organizer for the <a id="underline" href="http://www.meetup.com/NYC-Open-Data/" target="_blank">NYC Open Data Meetup</a> and the New York R user group. <br> (CTO @Supstat Inc, Master degrees in Computer Science and Statistics)</p>
								<p id="scott-bio">I study Economics (Development and Econometrics) and am a developer of LyX. <br> (Data Scientist @ Supstat Inc, 5th year Econ PhD at Princeton Univ.)</p>
								<p id="man-bio">I love Wikipedia. <br> I love data. <br>I love NY.</p>
							</div><!-- /span8 -->
						</div><!-- /row -->
						
						<div class="row-fluid content slide">
							<div class="span4">
								<img src="img/project01.png" alt="Project 01" id="viv-image">
								<h6 class="hidden-phone">Vivian Zhang - Instructor</h6>
							</div><!-- /span4 -->
							<div class="span4">
								<img src="img/project02.png" alt="Project 02" id="scott-image">
								<h6 class="hidden-phone">Scott Kostyshak - Instructor</h6>
							</div><!-- /span4 -->
							<div class="span4">
								<img src="img/project03.png" alt="Project 03" id="man-image">
								<h6 class="hidden-phone">Manley - Operations</h6>
							</div><!-- /span4 -->
						</div><!-- /row-fluid -->	
	
					</div><!-- /container -->
				</section><!-- /section -->
				
				
				
				<section class="section" id="section4" data-section="4">
					<div class="container-fluid">
						<div class="row-fluid title">
							<div class="span4">
								<h2>Classes</h2>
							</div><!-- /span4 -->
							<div class="span8 hidden-phone">	
								<hr>
							</div><!-- /span8 -->
						</div><!-- /row-fluid -->
						<div class="row-fluid desc">
							<div class="span8">
								<div class= "header-div" id="r-header-div">
									<h3 class="class-header" id="r-header">Data Science: Programming with R (beginner) </h3>
									<p>-<strong>Dates:</strong> Feb 1st, 8th, 15th, 22nd, and Mar 1st of 2014 (Saturdays)<br>-or-<br>Mar 8th, 15th, 22nd, 29th, and April 5th of 2014 (Saturdays) 
									<p>-<strong>Time:</strong> 10:00 - 17:00 
									<p>-<strong>Location:</strong> TBA (address will be announced at least 2 weeks prior to start date)
									<p>-<strong>Course Length:</strong> 35 hrs.
									<br>
									<br>
								</div>
								<div class= "header-div" id="D3-begin-mar-header-div">
									<h3 class="class-header" id="D3-begin-mar-header">Data Visualization: D3.js (beginner) </h3>
									<p>-<strong>Dates:</strong> Mar 9th, 16th, 23rd, 30th, and April 6th of 2014 (Sundays) 
									<p>-<strong>Time:</strong> 12:00 - 16:00
									<p>-<strong>Location:</strong> TBA (address will be announced at least 2 weeks prior to start date)
									<p>-<strong>Course Length:</strong> 20 hrs.
									<br>
									<br>
								</div>
								<div class= "header-div" id="Hadoop-begin-apr-header-div">
									<h3 class="class-header" id="Hadoop-begin-apr-header">Data Science: Hadoop (beginner) </h3>
									<p>-<strong>Dates:</strong> April 12th，19th，26th，May 3rd，and 10th of 2014（Saturdays)
									<p>-<strong>Time:</strong> 10:00 - 17:00
									<p>-<strong>Location:</strong> TBA (address will be announced at least 2 weeks prior to start date)
									<p>-<strong>Course Length:</strong> 35 hrs.
									<br>
									<br>
								</div>
								<div class= "header-div" id="Kaggle-adv-apr-header-div">
									<h3 class="class-header" id="Kaggle-adv-apr-header">Kaggle Competition: Hands-on Training (advanced)</h3>
									<p>-<strong>Dates:</strong> April 13th，20th，27th，May 4th，and 11th of 2014 (Sundays)
									<p>-<strong>Time:</strong> 10:00 - 17:00
									<p>-<strong>Location:</strong> TBA (address will be announced at least 2 weeks prior to start date)
									<p>-<strong>Course Length:</strong> 35 hrs.
									<br>
									<br>
								</div>
								<div class= "header-div" id="Tableau-begin-may-header-div">
									<h3 class="class-header" id="Tableau-begin-may-header">Data Visualization: Tableau (beginner)  </h3>
									<p>-<strong>Dates:</strong> May 3rd, 10th, 17th, 24th, and 31st of 2014 (Saturdays)
									<p>-<strong>Time:</strong> 12:00 - 16:00
									<p>-<strong>Location:</strong> TBA (address will be announced at least 2 weeks prior to start date)
									<p>-<strong>Course Length:</strong> 20 hrs.
									<br>
									<br>
								</div>
								<div class= "header-div" id="r-inter-may-header-div">
									<h3 class="class-header" id="r-inter-may-header">Data Science: Programming with R (intermediate) </h3>
									<p>-<strong>Dates:</strong> May 4th, 11th, 18th, 25th, and June 1st of 2014 (Sundays)<br>-or-<br>June 7th, 14th, 21st, 28th, and July 5th of 2014 (Saturdays) 
									<p>-<strong>Time:</strong> 10:00 - 17:00
									<p>-<strong>Location:</strong> TBA (address will be announced at least 2 weeks prior to start date)
									<p>-<strong>Course Length:</strong> 35 hrs.
									<br>
									<br>
								</div>
								<div class= "header-div" id="processing-begin-june-header-div">
									<h3 class="class-header" id="processing-begin-june-header">Data Visualization: Processing (beginner)</h3>
									<p>-<strong>Dates:</strong> June 8th, 15th, 22nd, 29th, and July 6th of 2014 (Sundays) 
									<p>-<strong>Time:</strong> 10:00 - 17:00
									<p>-<strong>Location:</strong> TBA (address will be announced at least 2 weeks prior to start date)
									<p>-<strong>Course Length:</strong> 35 hrs.
								</div>
							</div><!-- /span8 -->
						</div><!-- /row-fluid -->

						<div class="row-fluid content curriculum" id="r-info">
							<div class="span4">
								<button class="btn-inverse hide-curriculum" data-section="2" id="r-button">
									Restore Class List
								</button>
								<ul class="article-tags">
									<li data-blog="blog" class="current"><i class="icon-circle-arrow-right"></i><strong>Part 1:</strong> Basics </li>
									<li data-blog="dribbble"><i class="icon-circle-arrow-right"></i><strong>Part 2:</strong> Getting Data </li>
									<li data-blog="instagram"><i class="icon-circle-arrow-right"></i><strong>Part 3:</strong> Data Manipulation </li>
									<li data-blog="cats" ><i class="icon-circle-arrow-right"></i><strong>Part 4:</strong> Data Visualization</li>
									<li data-blog="dogs"><i class="icon-circle-arrow-right"></i><strong>Part 5:</strong> Elem. Statistical Methods </li>
									<li data-blog="aliens"><i class="icon-circle-arrow-right"></i><strong>Part 6:</strong> Prelim. Data Mining</li>
						      
						            
					            </ul>
							</div><!-- /span4 -->
							
							<div class="span8 slide current" data-blog="blog">
								<div class="row-fluid">
									<div class="span6 expand">
										<h4>Abstract</h4>
										<p> Overview of what we will be studying over the duration of the course. Students will learn the characteristics of R, resource acquisition mode, and basic programming concepts.<br>
										Case and Exercise: Project Euler in R</p>
									
									</div><!-- /span6 -->
									<div class="span6 visible-desktop">
										<h4>Concepts</h4>
										<ul>
											<li> How to learn R </li> 
											<li> How to get help </li>
											<li> R language resources and books</li> 
											<li> RStudio</li>
											<li> Expansion Pack </li>
											<li> Workspace </li>
											<li> Custom Startup Items</li> 
											<li> Batch Mode</li> 
											<li> Data Objects</li> 
											<li> Custom Functions</li> 
											<li> Control Statements</li> 
											<li> Vectorized Operations</li>
										</ul>	
										
									</div><!-- /span6 -->
									
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							
							<div class="span8 slide" data-blog="dribbble" >
								<div class="row-fluid">
									<div class="span6 expand">
										<h4>Abstract</h4>
										<p> We will discuss the various ways in which the R language reads data, the technologies involved in the WEB concept of crawling, interacting with a database via sql statements, and calling data from a variety of local excel files. <br>
										Case and Exercise: crawl watercress data/write a custom function </p>
									
									</div><!-- /span6 -->
									<div class="span6 visible-desktop">
										<h4>Concepts</h4>
										<ul>
											<li> Web data capture </li> 
											<li> API data source  </li>
											<li> Connecting to a database</li> 
											<li> Local Documentation </li>
											<li> Other data sources </li>
											<li> Data Export </li>
										</ul>	
										
									</div><!-- /span6 -->
									
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							
							<div class="span8 slide" data-blog="instagram">
								<div class="row-fluid">
									<div class="span6 expand">
										<h4>Abstract</h4>
										<p> Manipulating data with R for various types of data conversion, especially for string operation processing. <br>
										Case and Exercise: Find the QQ group (the most used instant messager tool), then discuss research options with text features
									
									</div><!-- /span6 -->
									<div class="span6 visible-desktop">
										<h4>Concepts</h4>
										<ul>
											<li> Data Sorting</li> 
											<li> Merging Data  </li>
											<li> Summarizing Data </li> 
											<li> Remodeling Data </li>
											<li> Takings a Subset of Data  </li>
											<li> String Manipulation</li>
											<li> Date Actions</li> 
										</ul>	
										
									</div><!-- /span6 -->
									
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							<div class="span8 slide " data-blog="cats">
								<div class="row-fluid">
									<div class="span6 expand">
										<h4>Abstract</h4>
										<p> Advanced drawing packages: lattice and ggplot2. We will also cover the various methods of visualization to explore.<br>
										Case and Exercise: Using graphics to create intuitive and aesthetically pleasing displays of mined data
									
									</div><!-- /span6 -->
									<div class="span6 visible-desktop">
										<h4>Concepts</h4>
										<ul>
											
											<li> Histogram </li> 
											<li> Point </li>
											<li> Column</li> 
											<li> Line</li>
											<li> Pie </li>
											<li> Box Plot </li>
											<li> Scatter</li> 
											<li> Matrix Related</li> 
											<li> Map</li> 
										</ul>	
										
									</div><!-- /span6 -->
									
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							
							<div class="span8 slide" data-blog="dogs" >
								<div class="row-fluid">
									<div class="span6 expand">
										<h4>Abstract</h4>
										<p> How to use R for statistical analysis and regression analysis. Students will master basic statistical significance and role model. <br>
										Case and Exercise: Using regression to predict commodity prices; simulated casino game winner</p>
									
									</div><!-- /span6 -->
									<div class="span6 visible-desktop">
										<h4>Concepts</h4>
										<ul>
											<li> Descriptive Statistics </li>
											<li> Statistical Distributions</li> 
											<li> Frequency and Contingency Tables </li>
											<li> Correlation </li>
											<li> T test</li> 
											<li> Non-parametric Statistics </li>
											<li> Linear Regression </li>
											<li> Regression Diagnostics</li> 
											<li> Robust Regression </li>
											<li> Nonlinear regression </li>
											<li> Principal Component Analysis</li> 
											<li> Logistic Regression </li>
											<li> Statistical Simulation</li>
											
										</ul>	
										
									</div><!-- /span6 -->
									
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							
							<div class="span8 slide" data-blog="aliens">
								<div class="row-fluid">
									<div class="span6 expand">
										<h4>Abstract</h4>
										<p> The R language for data mining expansion pack. Two new mining methods will be introduced. <br>
										Case and Exercise: Use R to participate in Kaggle Data Mining Competition </p>
									
									</div><!-- /span6 -->
									<div class="span6 visible-desktop">
										<h4>Concepts</h4>
										<ul>
											<li>General Mining Process</li> 
											<li>Rattle Bag </li>
											<li>Hierarchical Clustering</li> 
											<li>K -means Clustering</li> 
											<li>Decision Trees </li>
											<li>BP Neural Network</li>
										</ul>	
										
									</div><!-- /span6 -->
									
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							
						
					</div><!-- /container -->
					<div class="row-fluid content curriculum" id="D3-begin-mar-info">
							<div class="span4">
								<button class="btn-inverse hide-curriculum"  data-section="2" id="D3-begin-mar-button">
									Restore Class List
								</button>
								<ul class="article-tags">
									<li data-blog="blog" class="current"><i class="icon-circle-arrow-right"></i>pending</li>
									<!-- <li data-blog="dribbble"><i class="icon-circle-arrow-right"></i>pending</li>
									<li data-blog="instagram"><i class="icon-circle-arrow-right"></i>pending</li>
									<li data-blog="lions"><i class="icon-circle-arrow-right"></i>pending</li>
									<li data-blog="tigers"><i class="icon-circle-arrow-right"></i>pending</li>
									<li data-blog="bears"><i class="icon-circle-arrow-right"></i>pending</li>
						      
						             -->
					            </ul>
							</div><!-- /span4 -->
							
							<div class="span8 slide current" data-blog="blog">
								<div class="row-fluid">
									<div class="span6 expand">
										<h4>pending</h4>
										<p>Don't worry, we're cooking up something very special!</p>
										<div class="pull-right read-more">
										</div>
									</div><!-- /span6 -->
									
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							

					</div><!-- /container -->
					<div class="row-fluid content curriculum" id="Hadoop-begin-apr-info">
							<div class="span4">
								<button class="btn-inverse hide-curriculum"  data-section="2" id="Hadoop-begin-apr-button">
									Restore Class List
								</button>
								<ul class="article-tags">
									<li data-blog="blog" class="current"><i class="icon-circle-arrow-right"></i>pending</li>
									<!-- <li data-blog="dribbble"><i class="icon-circle-arrow-right"></i>pending</li>
									<li data-blog="instagram"><i class="icon-circle-arrow-right"></i>pending</li>
									<li data-blog="lions"><i class="icon-circle-arrow-right"></i>pending</li>
									<li data-blog="tigers"><i class="icon-circle-arrow-right"></i>pending</li>
									<li data-blog="bears"><i class="icon-circle-arrow-right"></i>pending</li>
						      
						             -->
					            </ul>
							</div><!-- /span4 -->
							
							<div class="span8 slide current" data-blog="blog">
								<div class="row-fluid">
									<div class="span6 expand">
										<h4>pending </h4>
										<p>Don't worry, we're cooking up something very special!</p>
										<div class="pull-right read-more">
										</div>
									</div><!-- /span6 -->
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							

					</div><!-- /container -->
					<div class="row-fluid content curriculum" id="Kaggle-adv-apr-info">
								<div class="span4">
									<button class="btn-inverse hide-curriculum"  data-section="2" id="Kaggle-adv-apr-button">
										Restore Class List
									</button>
									<ul class="article-tags">
										<li data-blog="blog" class="current"><i class="icon-circle-arrow-right"></i>pending</li>
										<!-- <li data-blog="dribbble"><i class="icon-circle-arrow-right"></i>pending</li>
										<li data-blog="instagram"><i class="icon-circle-arrow-right"></i>pending</li>
										<li data-blog="lions"><i class="icon-circle-arrow-right"></i>pending</li>
										<li data-blog="tigers"><i class="icon-circle-arrow-right"></i>pending</li>
										<li data-blog="bears"><i class="icon-circle-arrow-right"></i>pending</li>
							      
							             -->
						            </ul>
								</div><!-- /span4 -->
								
								<div class="span8 slide current" data-blog="blog">
									<div class="row-fluid">
										<div class="span6 expand">
											<h4>pending</h4>
											<p>Don't worry, we're cooking up something very special!</p>
											<div class="pull-right read-more">
											</div>
										</div><!-- /span6 -->
										
									</div><!-- /row-fluid -->
								</div><!-- /span8 -->
								
					</div><!-- /container -->
					<div class="row-fluid content curriculum" id="Tableau-begin-may-info">
								<div class="span4">
									<button class="btn-inverse hide-curriculum" data-section="2" id="Tableau-begin-may-button">
										Restore Class List
									</button>
									<ul class="article-tags">
										<li data-blog="blog" class="current"><i class="icon-circle-arrow-right"></i>pending</li>
										<!-- <li data-blog="dribbble"><i class="icon-circle-arrow-right"></i>pending</li>
										<li data-blog="instagram"><i class="icon-circle-arrow-right"></i>pending</li>
										<li data-blog="lions"><i class="icon-circle-arrow-right"></i>pending</li>
										<li data-blog="tigers"><i class="icon-circle-arrow-right"></i>pending</li>
										<li data-blog="bears"><i class="icon-circle-arrow-right"></i>pending</li>
							      
							             -->
						            </ul>
								</div><!-- /span4 -->
								
								<div class="span8 slide current" data-blog="blog">
									<div class="row-fluid">
										<div class="span6 expand">
											<h4>pending</h4>
											<p>Don't worry, we're cooking up something very special!</p>
											<div class="pull-right read-more">
											</div>
										</div><!-- /span6 -->
										
									</div><!-- /row-fluid -->
								</div><!-- /span8 -->
								
					</div><!-- /container -->
					<div class="row-fluid content curriculum" id="r-inter-may-info">
								<div class="span4">
									<button class="btn-inverse hide-curriculum" data-section="2" id="r-inter-may-button">
									Restore Class List
									</button>
									<ul class="article-tags">
										<li data-blog="blog" class="current"><i class="icon-circle-arrow-right"></i><strong>Part 1:</strong> Introducing Data Mining</li>
										<li data-blog="dribbble"><i class="icon-circle-arrow-right"></i>Review of Linear Models</li>
										<li data-blog="instagram"><i class="icon-circle-arrow-right"></i><strong>Part 2: </strong>Evaluation of Model Performance</li>
										<li data-blog="lions"><i class="icon-circle-arrow-right"></i>Extension of Linear Models </li>
										<li data-blog="tigers"><i class="icon-circle-arrow-right"></i><strong>Part 3: </strong>K-Nearest Neighbors Models </li>
										<li data-blog="part6"><i class="icon-circle-arrow-right"></i>Naive Bayes Models </li>
										<li data-blog="part7"><i class="icon-circle-arrow-right"></i><strong>Part 4:</strong>Tree Models</li>
										<li data-blog="part8"><i class="icon-circle-arrow-right"></i>Support Vector Machines</li>
										<li data-blog="part9"><i class="icon-circle-arrow-right"></i><strong>Part 5: </strong>Market Basket Analysis </li>
										<li data-blog="part10"><i class="icon-circle-arrow-right"></i>Unsupervised Learning</li>
										<li data-blog="part11"><i class="icon-circle-arrow-right"></i>Time Series Models </li>


							            
						            </ul>
								</div><!-- /span4 -->
							<div class="span8 slide current" data-blog="blog">
								<div class="row-fluid">
									<div class="span6 expand">
										<h4>Concepts </h4>
										<ul>
											<li> What is data mining? </li> 
											<li> Steps to apply data mining to your data  </li>
											<li> Supervised verus unsupervised learning </li> 
											<li> Regression versus classification problems </li>
										</ul>	
									</div><!-- /span6 -->
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							
							
							<div class="span8 slide" data-blog="dribbble">
								<div class="row-fluid">
									<div class="span6 visible-desktop">
										<h4>Concepts </h4>
										<ul>
											<li> Simple linear regression  </li> 
											<li> Logistic regression  </li>
											<li> Generalized linear models </li> 
										</ul>	
									</div><!-- /span6 -->
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->

							<div class="span8 slide" data-blog="instagram">
								<div class="row-fluid">
									<div class="span6 visible-desktop">
										<h4>Concepts </h4>
										<ul>
											<li> Confusion matrices </li> 
											<li> Beyond accuracy  </li>
											<li> Estimating future performance  </li> 
										</ul>	
									</div><!-- /span6 -->
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							<div class="span8 slide" data-blog="lions">
								<div class="row-fluid">
									<div class="span6 visible-desktop">
										<h4>Concepts </h4>
										<ul>
											<li> Subset selection   </li> 
											<li> Shrinkage methods </li>
											<li> Dimension reduction methods  </li> 
										</ul>	
									</div><!-- /span6 -->
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							<div class="span8 slide" data-blog="tigers">
								<div class="row-fluid">
									<div class="span6 visible-desktop">
										<h4>Concepts </h4>
										<ul>
											<li> Understanding kNN algorithm   </li> 
											<li> Calculating distance  </li>
											<li> Choosing an appropriate k  </li> 
											<li> Case Study  </li> 
										</ul>	
									</div><!-- /span6 -->
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							<div class="span8 slide" data-blog="part6">
								<div class="row-fluid">
									<div class="span6 visible-desktop">
										<h4>Concepts </h4>
										<ul>
											<li> Understanding joint probability   </li> 
											<li> The Naive Bayes Algorithm   </li>
											<li> The Laplace Estimator  </li> 
											<li> Case Study  </li> 
										</ul>	
									</div><!-- /span6 -->
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							<div class="span8 slide" data-blog="part7">
								<div class="row-fluid">
									<div class="span6 visible-desktop">
										<h4>Concepts </h4>
										<ul>
											<li> Regression trees - classification trees  </li> 
											<li> Tree model with party  </li>
											<li> Tree model with rpart </li> 
											<li> Randomforest model  </li> 
											<li> GBM model </li> 
										</ul>	
									</div><!-- /span6 -->
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							<div class="span8 slide" data-blog="part8">
								<div class="row-fluid">
									<div class="span6 visible-desktop">
										<h4>Concepts </h4>
										<ul>
											<li> Maximal margin classifier  </li> 
											<li> Support vector classifiers  </li>
											<li> Support vector machines</li> 
										</ul>	
									</div><!-- /span6 -->
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							<div class="span8 slide" data-blog="part9">
								<div class="row-fluid">
									<div class="span6 visible-desktop">
										<h4>Concepts </h4>
										<ul>
											<li> Understanding association rules </li> 
											<li> The Apriori Algorithm </li>
											<li> Case Study </li> 
										</ul>	
									</div><!-- /span6 -->
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							<div class="span8 slide" data-blog="part10">
								<div class="row-fluid">
									<div class="span6 visible-desktop">
										<h4>Concepts </h4>
										<ul>
											<li> K-means clustering  </li> 
											<li> Hierarchical clustering</li>
											<li> Case Study </li> 
										</ul>	
									</div><!-- /span6 -->
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->
							<div class="span8 slide" data-blog="part11">
								<div class="row-fluid">
									<div class="span6 visible-desktop">
										<h4>Concepts </h4>
										<ul>
											<li> Fundamental concepts  </li> 
											<li> Stationary time series </li>
											<li> ARIMA model  </li> 
											<li> Seasonal model </li> 
										</ul>	
									</div><!-- /span6 -->
								</div><!-- /row-fluid -->
							</div><!-- /span8 -->


							
					</div><!-- /container -->
					<div class="row-fluid content curriculum" id="processing-begin-june-info">
								<div class="span4">
									<button class="btn-inverse hide-curriculum" data-section="2" id="processing-begin-june-button">
										Restore Class List
									</button>

									<ul class="article-tags">
										<li data-blog="blog" class="current"><i class="icon-circle-arrow-right"></i>pending</li>
										<!-- <li data-blog="dribbble"><i class="icon-circle-arrow-right"></i>pending</li>
										<li data-blog="instagram"><i class="icon-circle-arrow-right"></i>pending</li>
										<li data-blog="lions"><i class="icon-circle-arrow-right"></i>pending</li>
										<li data-blog="tigers"><i class="icon-circle-arrow-right"></i>pending</li>
										<li data-blog="bears"><i class="icon-circle-arrow-right"></i>pending</li>
							      
							             -->
						            </ul>
								</div><!-- /span4 -->
								
								<div class="span8 slide current" data-blog="blog">
									<div class="row-fluid">
										<div class="span6 expand">
											<h4>pending</h4>
											<p>Don't worry, we're cooking up something very special!</p>
											<div class="pull-right read-more">
											</div>
										</div><!-- /span6 -->										
									</div><!-- /row-fluid -->
								</div><!-- /span8 -->
								
					</div><!-- /container -->
				
				
				</section><!-- /section -->
				
				<section class="section" id="section5" data-section="5">
					<div class="container-fluid">
					
						<div class="row-fluid title">
							<div class="span4">
								<h2>Tuition</h2>
							</div><!-- /span4 -->
							<div class="span8 hidden-phone">
								<hr>
							</div><!-- /span8 -->
						</div><!-- /row-fluid -->
						<br>
						<p><span>10% tuition reduction for Veterans</span></p>
						<p><span>10% tuition reduction for each student in groups of 5 or more</span></p>
						<div class="row-fluid">
							<br>
							<br>
						</div><!-- /row-fluid -->
						
						<div class="row-fluid">
							<div class="span12">
					            <div class="pricing-table-wrapper">
					                <div class="pricing-table row-fluid">

					                
					                	<!-- FIRST TABLE -->
					                    <ul class="pricing-column span4">
					                        <li class="pricing-title">Data Science:<br> Programming with R (beginner)</li>
					                        
					                        <li class="pricing-price">$1,100 <span>/session</span></li>
					                        <li class="pricing-price">35 <span>hours</span></li>


					                    </ul>
					                    
					                    
					                    
					                     
					                    <!-- SECOND TABLE -->
					                    <ul class="pricing-column span4">
					                        <li class="pricing-title">Data Visualization: <br>D3.js (beginner)</li>
					                        
					                        <li class="pricing-price">$850 <span>/session</span></li>
					                        <li class="pricing-price">20 <span>hours</span></li>
					                        


					                        
					                    </ul>
					                     
					                     <!-- THIRD TABLE -->
					                    <ul class="pricing-column span4">
					                        <li class="pricing-title">Data Science:<br> Hadoop (beginner) </li>
					                        
					                        <li class="pricing-price">$1,100 <span>/session</span></li>
					                        <li class="pricing-price">35 <span>hours</span></li>
					                         
					                    </ul>
					                    
					                </div><!-- /pricing-table-wraper -->
					            </div><!-- /pricing-table -->
							
							</div><!-- /span12 -->
						</div><!-- /row-fluid -->
						<div class="row-fluid">
							<div class="span12">
					            <div class="pricing-table-wrapper">
					                <div class="pricing-table row-fluid">

					                
					                	<!-- FOURTH TABLE -->
					                    <ul class="pricing-column span4">
					                        <li class="pricing-title">Kaggle Competition: <br> Hands-on Training (advanced) </li>
					                        
					                        <li class="pricing-price">$2,100 <span>/session</span></li>
					                        <li class="pricing-price">35 <span>hours</span></li>


					                    </ul>
					                    
					                    
					                    
					                     
					                    <!-- FIFTH TABLE -->
					                    <ul class="pricing-column span4">
					                        <li class="pricing-title">Data Visualization:<br> Tableau (beginner)</li>
					                        
					                        <li class="pricing-price">$850 <span>/session</span></li>
					                        <li class="pricing-price">20 <span>hours</span></li>
					                        


					                        
					                    </ul>
					                     
					                     <!-- SIXTH TABLE -->
					                    <ul class="pricing-column span4">
					                        <li class="pricing-title">Data Science:<br> Programming with R (inter.)</li>
					                        
					                        <li class="pricing-price">$1,100 <span>/session</span></li>
					                        <li class="pricing-price">35 <span>hours</span></li>
					                         
					                    </ul>
					                    
					                </div><!-- /pricing-table-wraper -->
					            </div><!-- /pricing-table -->
							
							</div><!-- /span12 -->
						</div><!-- /row-fluid -->
						<div class="row-fluid">
							<div class="span12">
					            <div class="pricing-table-wrapper">
					                <div class="pricing-table row-fluid">

					                
					                	<!-- FOURTH TABLE -->
					                    <ul class="pricing-column span4">
					                        <li class="pricing-title">Data Visualization:<br> Processing (beginner)</li>
					                        
					                        <li class="pricing-price">$1,100 <span>/session</span></li>
					                        <li class="pricing-price">35 <span>hours</span></li>


					                    </ul>
					                    
					                    
					                </div><!-- /pricing-table-wraper -->
					            </div><!-- /pricing-table -->
							
							</div><!-- /span12 -->
						</div><!-- /row-fluid -->
					</div><!-- /container-fluid -->
				</section><!-- /section -->
				
				<section class="section" id="section6" data-section="6">
					<div class="container-fluid">
						<div class="row-fluid title">
							<div class="span4">
								<h2>Sign Up</h2>
							</div><!-- /span4 -->
							<div class="span8 hidden-phone alt">	
								<hr>
							</div><!-- /span8 -->
						</div><!-- /row-fluid -->
						<div class="row-fluid content">
							<div class="span4">
								<h4 class="intro">Contact Us</h4>
								<p>Please contact us if you or your group qualifies for tuition reduction, or would like to discuss alternative payment methods.</p> 
								<p> Let us know if your firm is interested in private corporate training sessions.</p>
								<p>Moreover, if you have any further questions, please feel free to reach out.</p>
								<div class="row-fluid alt">
									<h5>Email:</h5>
									<br>
									<span>vivian.stanford@gmail.com</span><br>-or-<br><span> bcmanley1@gmail.com</span>
								</div><!-- /row -->
							
								
								<div class="row-fluid alt">
								</div><!-- /row -->

								<div class="row-fluid alt">

									<h4 class="intro">Total Cost of Tuition</h4>

								</div><!-- /row -->
								<div class="row-fluid alt" id="total-tuition">

													<h3></h3>

								</div><!-- /row -->
								
							</div><!-- /span4 -->
							 
							
						<div class="span8" id="form-div">
							
								<div class="row-fluid">
									<div class="span12">
									</div><!-- /span12 -->
								</div><!-- /row-fluid -->
									<h8 id="form-instruct">(complete required fields to submit)</h8><br>
								<div id="form-button-div">
	 								<button class="btn-inverse form_button" disabled>
										Sign <span id="form-button-span">Up</span>
										<i class="icon-circle-arrow-right"></i>
									</button>
								</div>

								<%= form_tag url_for(:controller => 'applicants', :action => 'create_charge'), html: {class: "stripe_form"}, :method => 'post' do %>
								  

								  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
								          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
								          data-description="NYC Data Science Academy"
								          ></script>
								<% end %>
								
								<%= form_for ApplicantCourse.new, html: {class: "app_course_form"}, url: { controller: "applicants", action: "create"}  do |f| %>
										<%= form_for Applicant.new, html: {class: "app_form", id:"app_form_uniq"}, url: {action: "create"} do |fa| %>

										
										<div class="row-fluid">
											<div class="span6">
												<div class="control-group">
														<div class="checkbox" id="r-checkbox">
															<%= check_box_tag "course_id[r-class]", 1100, check=true, id: 'r-class-check', class: "checker"%>
															Feb 2014 - Data Science: Programming with R (beginner)
														</div>
														<br>
												</div><!-- /control-group -->
											</div><!-- /span6 -->

											<div class="span6">
												<div class="control-group">
														<div class="checkbox">
															<%= check_box_tag "course_id[r-begin-mar]", 1100, check=false, id: 'r-begin-mar-check', class: "checker"%>
															Mar 2014 - Data Science: Programming with R (beginner)
														</div>
														<br>
												</div><!-- /control-group -->
											</div><!-- /span6 -->

										</div><!-- /row-fluid -->
										<div class='row-fluid'>
											<div class="span6">
												<div class="control-group">
													<div class="checkbox" >
															<%= check_box_tag "course_id[D3-begin-mar-class]", 850, check=true, id: 'D3-begin-mar-check', class: "checker"%>
															Mar 2014 - Data Visualization: D3.js (beginner)
													</div>
														<br>
												</div><!-- /control-group -->
											</div><!-- /span6 -->
												<div class="span6">
												<div class="control-group">
														<div class="checkbox">
															<%= check_box_tag "course_id[Hadoop-begin-apr]", 1100, check=false, id: 'Hadoop-begin-apr-check', class: "checker"%>
															April 2014 - Data Science: Hadoop (beginner)
														</div>
														<br>
												</div><!-- /control-group -->
											</div><!-- /span6 -->
										</div><!-- /row-fluid -->

										<div class='row-fluid'>
											<div class="span6">
												<div class="control-group">
													<div class="checkbox" >
															<%= check_box_tag "course_id[Kaggle-adv-apr]", 2100, check=false, id: 'Kaggle-adv-apr-check', class: "checker"%>
															April 2014 - Kaggle Competition: Hands-on Training (advanced)
													</div>
														<br>
												</div><!-- /control-group -->
											</div><!-- /span6 -->
											<div class="span6">
												<div class="control-group">
														<div class="checkbox">
															<%= check_box_tag "course_id[Tableau-begin-may]", 850, check=false, id: 'Tableau-begin-may-check', class: "checker"%>
															May 2014 - Data Visualization: Tableau (beginner) 
														</div>
														<br>
												</div><!-- /control-group -->
											</div><!-- /span6 -->
										</div><!-- /row-fluid -->

										<div class='row-fluid'>
											<div class="span6">
												<div class="control-group">
													<div class="checkbox" >
															<%= check_box_tag "course_id[r-inter-may-class]", 1100, check=false, id: 'r-inter-may-class-check', class: "checker"%>
															May 2014 - Data Science: Programming with R (intermediate)
													</div>
														<br>
												</div><!-- /control-group -->
											</div><!-- /span6 -->
											<div class="span6">
												<div class="control-group">
														<div class="checkbox">
															<%= check_box_tag "course_id[r-inter-june-class]", 1100, check=false, id: 'r-inter-june-check', class: "checker"%>
															June 2014 - Data Science: Programming with R (intermediate)
														</div>
														<br>
												</div><!-- /control-group -->
											</div><!-- /span6 -->
										</div><!-- /row-fluid -->
										<div class='row-fluid'>
										<div class="span6">
												<div class="control-group">
														<div class="checkbox">
															<%= check_box_tag "course_id[processing-begin-june-class]", 1100, check=false, id: 'processing-begin-june-check', class: "checker"%>
															June 2014 - Data Visualization: Processing (beginner)
														</div>
														<br>
												</div><!-- /control-group -->
											</div><!-- /span6 -->
										</div><!-- /row-fluid -->


										
										<div class="row-fluid">
											<div class="span6">
												<div class="control-group">
													<%= fa.label :name,class: "control-label"%>
													<div class="controls">
													<%= fa.text_field :name, class:"span12"%>
													</div><!-- /controls -->
												</div><!-- /control-group -->
											</div><!-- /span6 -->
											
										</div><!-- /row-fluid -->
										
										<div class="row-fluid">
											<div class="span6">
												<div class="control-group">												
													<%= fa.label :phone_number, 'Phone Number',class: "control-label"%>
													<div class="controls">
													<%= fa.text_field :phone_number,class:"span12"%>
													</div><!-- /controls -->
												</div><!-- /control-group -->
											</div><!-- /span6 -->
										</div><!-- /row-fluid -->

										<div class="row-fluid">
											<div class="span12">
												<div class="control-group">
													<%= fa.label :comment, 'Comment    (opt.)',class: "control-label"%>
													<div class="controls">
														<%= fa.text_area :comment,class:"span12",cols: 50, rows: 7%>
													</div><!-- /controls -->
												</div><!-- /control-group -->
											</div><!-- /span12 -->
										</div><!-- /row-fluid -->

								<% end %>
							<% end %>
						</div><!-- /span8 -->	
						<div id="footer">
							<div class="row-fluid">
								<div class="span12">
									
								</div><!-- /span12 -->
							</div><!-- /row-fluid -->	
						</div><!-- /footer -->
					</div><!-- /row-fluid -->	
				</div><!-- /container-fluid -->
				
			</div><!-- /container -->	
		</div><!-- /wrapper -->	

	
		<!-- JAVASCRIPTS -->
		<script type="text/javascript" src="js/waypoints.min.js"></script>
		<script type="text/javascript" src="js/jquery.knob.js"></script>
		<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script src="http://jquery.bassistance.de/validate/jquery.validate.js"></script>
		<script src="http://jquery.bassistance.de/validate/additional-methods.js"></script>
		<script type="text/javascript" src="js/overwrite_validate_messages.js"></script>
	</body>
</html>


